:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  --light: #ddd;
  --mid: #888;
  --dark: #222;
  --gap: 0.5em;

  --primary: #060;
  --primary-border: #393;
  --primary-active: #030;

  --size: 50px;
  
  color: var(--light);
  background-color: var(--dark);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  counter-set:
    w-d 23
    e-o 5
    l-n 12
    l-e 12
  ;

}

main {
  position: relative;
  width: 300px;
  height: 150px;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: var(--gap);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s 0s;

  img {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 32px;
    height: 32px;
    filter: grayscale(1);
  }
}
#open:has(input:checked) ~ a {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0s 8.7s;
}

/* BUTTONS / BUTTONS / BUTTONS / BUTTONS / BUTTONS / BUTTONS */

.button {
  border: 1px outset var(--mid);
  border-radius: var(--gap);
  padding: var(--gap) 2em;
}

.button:hover {
  color: #fff;
}

.button:hover:active {
  border-style: inset;
  background-color: #000;
}

.button.pressed {
  color: #fff;
  border-style: inset;
  background-color: #000;
}

.button.primary {
  background-color: var(--primary);
  border-color: var(--primary-border);
}

button.primary:active:hover,
.button.primary:active:hover {
  background-color: var(--primary-active);
}


/* LOCK // LOCK // LOCK // LOCK // LOCK // LOCK // LOCK // LOCK */

#open span {
  position: relative;
  top: -16px
}
#lock span {
  position: relative;
  top: 16px
}
#lock :checked ~ span {
  background: #000
}
input {
  position: absolute;
  left: -999vw;
}

span::after {
  display: inline-block;
  font-size: var(--size);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);

  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid white;
}

span.w-d::after {
  content: counter(w-d, upper-alpha)
}

span.e-o::after {
  content: counter(e-o, upper-alpha)
}

span.l-n::after {
  content: counter(l-n, upper-alpha)
}

span.l-e::after {
  content: counter(l-e, upper-alpha)
}

#open:has(:checked) ~ div .w-d {
  animation-name: w-d;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#open:has(:checked) ~ div .e-o {
  animation-name: e-o;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#open:has(:checked) ~ div .l-n {
  animation-name: l-n;
  animation-duration: 3s;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
}

#open:has(:checked) ~ div .l-e {
  animation-name: l-e;
  animation-duration: 3s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes w-d {
  0%   { }                            /* w */
  1%   { counter-increment: w-d +1  } /* x */
  20%  { counter-increment: w-d +2  } /* y */
  30%  { counter-increment: w-d +3  } /* z */
  40%  { counter-increment: w-d -22 } /* a */
  50%  { counter-increment: w-d -21 } /* b */
  60%  { counter-increment: w-d -20 } /* c */
  70%  { counter-increment: w-d -19 } /* d */
  100% { counter-increment: w-d -19 }
}

@keyframes e-o {
  0%   { }                            /* e */
  1%   { counter-increment: e-o +1  } /* f */
  10%  { counter-increment: e-o +2  } /* g */
  20%  { counter-increment: e-o +3  } /* h */
  30%  { counter-increment: e-o +4  } /* i */
  40%  { counter-increment: e-o +5  } /* j */
  50%  { counter-increment: e-o +6  } /* k */
  60%  { counter-increment: e-o +7  } /* l */
  70%  { counter-increment: e-o +8  } /* m */
  80%  { counter-increment: e-o +9  } /* n */
  90%  { counter-increment: e-o +10 } /* o */
  100% { counter-increment: e-o +10 }
}

@keyframes l-n {
  0%   { }                           /* l */
  30%  { counter-increment: l-n +1 } /* m */
  60%  { counter-increment: l-n +2 } /* n */
  100% { counter-increment: l-n +2 }
}

@keyframes l-e_old {
  0%   { }                            /* l */
  5%   { counter-increment: l-e +1  } /* m */
  10%  { counter-increment: l-e +2  } /* n */
  15%  { counter-increment: l-e +3  } /* o */
  20%  { counter-increment: l-e +4  } /* p */
  25%  { counter-increment: l-e +5  } /* q */
  30%  { counter-increment: l-e +6  } /* r */
  35%  { counter-increment: l-e +7  } /* s */
  40%  { counter-increment: l-e +8  } /* t */
  45%  { counter-increment: l-e +9  } /* u */
  50%  { counter-increment: l-e +10 } /* v */
  55%  { counter-increment: l-e +11 } /* w */
  60%  { counter-increment: l-e +12 } /* x */
  65%  { counter-increment: l-e +13 } /* y */
  70%  { counter-increment: l-e +14 } /* z */

  75%  { counter-increment: l-e -11 } /* a */
  80%  { counter-increment: l-e -10 } /* b */
  85%  { counter-increment: l-e -9  } /* c */
  90%  { counter-increment: l-e -8  } /* d */
  95%  { counter-increment: l-e -7  } /* e */
  100% { counter-increment: l-e -7  }
}

@keyframes l-e {
  0%   { }                           /* l */
  10%  { counter-increment: l-e -1 } /* k */
  20%  { counter-increment: l-e -2 } /* j */
  30%  { counter-increment: l-e -3 } /* i */
  40%  { counter-increment: l-e -4 } /* h */
  50%  { counter-increment: l-e -5 } /* g */
  60%  { counter-increment: l-e -6 } /* f */
  70%  { counter-increment: l-e -7 } /* e */
  100% { counter-increment: l-e -7 }
}